<% @poems.map do |poem| %>
  <% link = poem.main_link %>
  <div class="col-md-3  col-8">
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title" dir="rtl"><%= link_to  truncate(poem.name, length: 50), poem_path(poem.id) %></h5>
        <p class="card-text"> <%= truncate poem.desc, length: 70  %></p>
      </div>
    </div>
  </div>
<% end %>