<div class="container">
  <div class="row pl-3 pr-3 pb-3">
    <% objects.map do |object| %>
      <div class="col col-md-3 offset-md-1 col-12 line-container mt-3 pt-3 pb-3">
        <h1 class="text-center"> <%= link_to object.name(locale: I18n.locale), "/#{object.class.name.downcase.pluralize}/#{object.id}?locale=#{I18n.locale}"  %> </h1>
      </div>
    <% end %>
  </div>
</div>
