<div class="container rtl">
  <div class="row pl-3 pr-3 pb-3">
    <% award_titles.map do |title| %>
      <div class="col col-md-3 offset-md-1 col-12 line-container mt-3 pt-3 pb-3">
        <h1 class="text-center"> <%= link_to title, "/awrad/#{title}"  %> </h1>
      </div>
    <% end %>
  </div>
</div>
