<div class="container text-center">
  <p class="text-center mt-3 werd-desc"><%= @werd[:desc] %></p>
  <div class="mt-3">
    <% @werd.lines.map.with_index do |line, index| %>
      <div class="col col-12 line-container green werd text-center mb-1 text-center">
        <%= simple_format line.body %>
      </div>
      <span class="line-index"><%= index + 1 %> / <%= @werd.lines.size %> </span>
    <% end %>
  </div>

</div>
