<div class="row">
  <div class="col-lg-8 col-md-12 full-height" id="poem_quick_view">
    <%= render 'poems/poem_quick_view' %>
  </div>
  <div class="col-lg-4 col-md-12 full-height" >
    <div class="form-group mt-3 mb-3" dir="rtl">
      <input id="peoms_search" type="search" placeholder="بحث" class="form-control">
    </div>
    <div id="poem_list">
      <%= render 'poems/list_partail' %>
    </div>

  </div>
</div>


