<div class="row">
  <div class="col-4 full-height">
    <br>
    <div class="form-group" dir="rtl">
      <input id="peoms_search" type="search" placeholder="بحث" class="form-control">
    </div>
    <div id="poem_list">
      <%= render 'poems/list_partail' %>
    </div>

  </div>
  <div class="col-8 full-height" id="poem_quick_view">
    <%= render 'poems/poem_quick_view' %>
  </div>


</div>


