<div>
  <h2 class="mt-2 ml-3"> Privacy Policy </h2>
  <p class="ml-4 text-left"> No User information is collected</p>
  <p class="ml-4 text-left"> All information provided with special access </p>
  <p class="ml-4 text-left"> All information is free and available for user with no fees </p>
</div>
